# Скомпилированные байт-коды Python
__pycache__/
*.pyc
*.pyo

# Виртуальное окружение
venv/
env/
.venv/

# Конфигурация IDE PyCharm
.idea/

# Файлы сборки и упаковки
build/
dist/
*.egg-info/

# Конфигурация среды и секретные файлы
.env

# Лог-файлы и временные файлы
*.log
*.tmp

# Файлы ОС
.DS_Store
Thumbs.db
